@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

a {
	color: white;
}

body {
	background-image: url(./background-image.png);
	background-size: auto;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;

}

.success-block {
	min-width: 40vw;
	min-height: 5vh;
	text-align: center;
	background-color: #3f51b58c;
	border-radius: 15px;
	animation: fadein forwards .2s;
	display: none;
}
.success-show {
	display: block;
}

.wrapper {
	width: 56vw;
	height: 67vh;
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #3f51b58c;
	border-radius: 15px;
	justify-content: center;
	animation: fadein forwards .2s;
}

.wrapper-show {
	display: flex;
}

.logo {
	opacity: 0;
	width: 10vw;
	margin: 10px 0;
	animation: fadein forwards .7s;
}

.title {
	font-size: 18px;
	color: white;
	font-family: Montserrat;
	font-weight: 500;
	width: 50vw;
	animation: fadein forwards .8s;

}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-input {
	width: 30vw;
	height: 30px;
	padding-left: 15px;
	margin: 5px 0;
	border: 2px solid #3f51b5;
	border-radius: 5px;
	animation: fadein forwards 1s;
}

.label {
	font-family: Montserrat;
	color: white;
	animation: fadein forwards 1s;
}

.btn-sb {
	margin: 20px 0;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid white;
	background-color: #2196f3;
	font-family: Montserrat;
	color: white;
	cursor: pointer;
	animation: fadein forwards 1.2s;
}

span {
	font-weight: 800;
}

@media (max-width: 769px) {
	.wrapper {
		min-height: 65vh;
		width: 80vw;
	}

	.title {
		width: 70vw;
	}

	.logo {
		width: 20vw;
	}
}

@media (max-width: 426px) {
	.title {
		font-size: 16px;
	}

	.text-input {
		width: 50vw;
	}

	.label {
		font-size: 14px;
	}
}

@media (max-width: 321px) {
	.title {
		font-size: 12px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}